<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>net.thechriswalker.vpn-routes</string>

    <key>WorkingDirectory</key>
    <string>/opt/vpn-routes</string>

    <key>ProgramArguments</key>
    <array>
      <!-- Run via sudo as a dedicated service user (see README for sudoers) -->
      <string>/usr/bin/sudo</string>
      <string>-u</string>
      <string>_vpn_route</string>

      <!-- Run from WorkingDirectory=/opt/vpn-routes -->
      <string>./bin/vpn-routes</string>

      <!-- Prefer config file: in working directory-->
      <string>--config</string>
      <string>./config.json</string>

    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/opt/vpn-routes/logs/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/opt/vpn-routes/logs/stderr.log</string>
  </dict>
</plist>

